.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.text-center {
  text-align: center;
}

.title-font {
  font-family: 'Merienda', cursive;
}

.list-disk {
  list-style-type: disc;
}

.media-thumbnail {
  display: inline-block;
}

.media-thumbnail img {
  display: block;
}

/* https://www.samanthaming.com/tidbits/53-css-counter/ */
.media-gallery {
  counter-reset: media-counter;
}
.media-count::before {
  counter-increment: media-counter;
  content: counter(media-counter) ". ";
}

.media-info {
  padding-left: 20px;
}

.media-title {
  margin-bottom: 0;
  margin-top: 0;
}

/* https://css-tricks.com/fluid-width-video/ */
.youtube-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#disqus_thread {
  margin-top: 24px;
}

/* https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone */
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}
