.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.text-center {
  text-align: center;
}

.title-font {
  font-family: 'Merienda', cursive;
}

.list-disk {
  list-style-type: disc;
}

.video-thumbnail {
  display: inline-block;
}

.video-thumbnail img {
  display: block;
}

.video-thumbnail:hover img {
  opacity: .5;
}

.responsive {
  max-width: 100%;
  height: auto;
}

#disqus_thread {
  margin-top: 36px;
}